*{
    margin: 0;
    padding: 0;
}
.achievementsDiv{
    margin-top: 60px;
    height: 2200px;
    width: 100%;
}
.achievementRow{
    width: 100%;
    height: 300px;
    display: flex;
}
.achievementRowPart{
    display: flex;
    width: 50%;
}
.achievementPhoto{
    width: 40%;
}
.achievementDetail{
    width: 55%;
    padding: 75px;
    color: black;
    text-align: justify;
}
.arrow{
    width: 5%;
}
.achievementPhoto img{
    margin-top: 60px;
}   
.imgSchool{
    width: 180px;
    height: 200px;
}
.imgIJSE{
    padding-top: -100px;
    width: 300px;
    height: 300px;
}
.imgHacakthon{
    width: 250px;
    height: 150px;
}
.imgAchievement{
    width: 250px;
    height: 150px;
}