*{
    margin: 0;
    padding: 0;
}
.ContactMeDiv{
    width: 100%;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.contact{
    width: 500px;
    height: 500px;
    color: white;
    margin-left: 500px;
    margin-top:150px;
    background: linear-gradient(to bottom, #1b263b, #415a77);
    border-radius: 5%;
}
.legendContactUs{
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.contact label{
    font-size: 18px;
    margin-top: 20px;
}
.contactMebtn{
    width: 150px;
    height: 30px;
    margin-top: 50px;
    background-color: #778da9;
    color: white;
    font-size: 18px;
    border-radius: 10%;
}
.contactMebtn:hover{
    background-color: #1b263b;
    color: white;
}
.text{
    width: 400px;
    padding-left: 10px;
    font-size: 16px;
    height:45px;
    border-radius: 5%;
}
.textArea{
    width: 400px;
    padding-left: 5px;
    font-size: 16px;
    height: 75px;
}
.formContactUs{
    width: 500px;
    height: 500px;
}