*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HomeDiv{
    width: 100%;
    height: 1750px;
    background: linear-gradient(to bottom, #1b263b, #415a77);
}
.firstDiv{
   height: 620px;
   width: 100%;
}
.meDetailsWithPhoto{
    height: 520px;
    width: 100%;
    position: absolute;
    top: 120px;
    box-shadow: "10px 20px 4px rgba(0, 0, 0, 1)";
    display: flex;
    background: linear-gradient(to bottom, #1b263b, #415a77);
}
.divPhoto{
    width: 35%;
    height: 100%;
    top: 120px;
}
.divPhoto img{
    height: 250px;
    width: 250px;
    border-radius:100%;
    cursor: pointer;
    text-align: center;
    max-width: 100%;
    height: auto;
}
.divDetails{
    width: 65%;
    height: 70%;
    margin: 70px 70px 70px 20px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.divDetails h4{
    text-align: left;
    font-size: 30px;
}
.divDetails h3{
    color: #0077b6;
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
}
.divDetails p{
    text-align:left;
    margin-top: 20px;
}
.buttonsDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}
.buttonsDivContact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.buttonsDivProjects{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  width: 90%;
}
.buttonDownload{
    width: 100%;
}

.btnDownload{
    width: 140px;
    height: 40px;
    padding: 8px;
    border-radius: 5%;
    background-color: #0d1b2a;  
    color: white;
    margin-bottom: 10px;
}
.btnDownload:hover{
    background-color: #415a77;
    color: white;
    cursor: pointer;
}
.socialDiv{
  width: 60%;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.socialDiv div{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.divImgGitHub img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.divImgGmail img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.divImgLinkedIn img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.divImgInstagram img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.divImageFacebook img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.divImgHackerrank img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.secondDiv{
    position: relative;
    height: 650px;
    width: 100%;
    background: linear-gradient(to bottom, white, #778da9);
    color:black;
    font-family: 'Karla', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.fourthDiv{
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom, white, #778da9);
    color:black;
    font-family: 'Karla', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.projectsContainor{
  height: 400px;
  margin-top: 50px;
  margin-left: 160px;
  color: white;
  align-items: center;
  justify-items: center;
}
.projectRow{
  display: flex;
  margin-bottom: 50px;
}
.buttonSeemoreProjects{
  width: 200px;
  height: 60px;
  background-color: #0d1b2a;
  color: white;
}
.h2Projects{
  margin-top: 80px;
}
.divProjectItem{
  width: 25%;
  height: 196px;
  margin-right: 30px;
  margin-left: 31px;
  align-items: center;
  justify-content: center;
  color: #1b263b;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.divProjectItemContainer {
  padding: 2px 16px;
  background-color: #778da9;
}
.divProjectItemContainer:hover{
  color: #0077b6;
}
.divProjectItem:hover{
  cursor: pointer;
  font-size: 19px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  color: white;
  height: 200px;
}
.servicesContainor{
    width: 100%;
    height: 600px;
    display: flex;
}
.divServiceImgContainor{
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;

}
  
.divServiceImgContainor img{
    width: 560px;
    height: 320px;
    margin-top: 95px;
    opacity: 1;
}
.imageService :hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.divServiceContainor{
    width: 50%;
    height: 500px;
}
.thirdDiv{
    height: 700px;
    width: 100%;
    background: linear-gradient(to bottom, #1b263b, #415a77);
    font-family: 'Karla', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.h2Skills{
    z-index: 10;
    color: white;
    font-size: 30px;
    padding-top: 25px;
    text-align: left;
    width: 80%;
    margin-left: 230px;
}
.skillDivContainor{
    display: flex;
    width: 100%;
    height: 500px;
}
.skillDivContainorLeft {
    width:50%;
}
.skillDivContainorRight {
    width:50%;
    display: flex;
    margin-top: 50px;
}
.skillSetLeft{
    width: 35%;
}
.skillSetRight{
    width: 35%;
    margin-left: 100px;
}
#myProgress {
    width: 100%;
    border: 1px solid #415a77;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  #myBar {
    box-shadow: "10px 20px 4px rgba(0, 0, 0, 1)";
  }
  .HTML{
    width: 100%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .CSS{
    width: 100%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .JS{
    width: 90%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .JQUERY{
    width: 80%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .MYSQL{
    width: 90%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .PHP{
    width: 85%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .BOOTSTRAP{
    width: 87%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .REACT{
    width: 90%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .NODEJS{
    width: 85%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .EXPRESSJS{
    width: 85%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .MONGODB{
    width: 90%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .JAVA{
    width: 95%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .PYTHON{
    width: 85%;
    height: 15px;
    background-color: #0d1b2a;
  }
  .CPP{
    width: 90%;
    height: 15px;
    background-color: #0d1b2a;
  }
  label{
    color: white;
  }
.h2Services{
    z-index: 10;
    color: black;
    font-size: 30px;
    padding-top: 25px;
    text-align: right;
    width: 80%;
}
.serviceRow{
    display: flex;
    height: 220px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.serviceCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5%;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #0d1b2a;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .serviceCard:hover{
    cursor: pointer;
    background-color: #1b263b;
    color: #90e0ef;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.7);
  }
  
  /* Add some padding inside the card container */
  .serviceCardcontainer {
    height: 220px;
    padding-top: 75px;
  }
  img {
    border-radius: 5px 5px 0 0;
    width:100%
  }
  .skillDivContainorLeft img{
    margin-top: 120px;
    width:450px;
    height:300px;
  }

@media only screen and (max-width: 800px) {
    .meDetailsWithPhoto{
        display: block;
        top: 300px;
        justify-content: center;
        align-items: center;
        height: 700px;
    }
    .firstDiv{
        justify-content: center;
        align-items: center;
    }
    .divPhoto{
        width: 80%;
        height: 250px;
        margin: 45px;
        justify-content: center;
        align-items: center;
    }
    .divDetails{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .divDetails h4{
        text-align: center;
        font-size: 30px;
    }
    .divDetails h3{
        color: #d90429;
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }
    .divDetails p{
        text-align:center;
        margin-top: 20px;
    }
    .buttonsDiv{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    .buttonDownload{
        width: 100%;
    }
    
    .btnDownload{
        width: 140px;
        height: 40px;
        padding: 8px;
        border-radius: 5%; 
        color: black;
    }
    .btnDownload:hover{
        background-color: #e63946;
        color: white;
    }
    .secondDiv{
        width:100%;
        height: 1000px;
    }
}
@media only screen and (max-width: 387px) {
    
}